.element{
  display: flex;
  color: white;
  margin: 20px;
}

.element-details {
  width: 90px;
  height: 90px;
  padding: 10px;
  animation-name: icon;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.element-details .number{
  font-size: 10px;
}

.element-details .symbol{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3px;
}

.element-details .name{
  font-size: 14px;
  margin-bottom: 10px;
}

.element-details .mass{
  font-size: 12px;
}


.element-name {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 24px;
  font-weight: 300;
}

.element-details[data-type="unknown"] {
  background: black;
}

.element-details[data-type="noble"] {
  background: #511A93;
}

.element-details[data-type="alkali-metal"] {
  background: #FE621D;
}

.element-details[data-type="alkaline-earth-metal"] {
  background: #FFD402;
}

.element-details[data-type="other-non-metal"] {
  background: #93FC00;
}

.element-details[data-type="poor-metal"] {
  background: #1CEAB0;
}

.element-details[data-type="transition-metal"] {
  background: #B70000;
}

.element-details[data-type="lanthanoid"] {
  background: #CC4360;
}

.element-details[data-type="actinoid"] {
  background: #5C4D75;
}

@keyframes icon {
  0% {transform: scale(1);}
  25% {transform: scale(.95);}
  50% {transform: scale(1.05);}
  75% {transform: scale(.95);}
  100% {transform: scale(1);}
}
